#try{
  margin-top: 70px;
}

#Title{
  text-align: center;
  font-size: 60px;
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: 'Acme', sans-serif;
}
#Introduction{
  font-size: 20px;
}
#Figure{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border:2px solid DodgerBlue;
}
